.mainmenubtn {
background-color: black;
color: white;
border: none;
cursor: pointer;
font-family: Qanelas;
padding: 10px;
font-size: 30;
margin-top:20px;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {
font-family: Qanelas;
display: none;
background-color: black;
min-width: 50px;
}
.dropdown-child a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}
.botao {
background-image:url("https://cdn0.iconfinder.com/data/icons/internet-activity-3-1/32/menu_bars_four-512.png");
}
