.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  margin-left: auto;
  margin-right: auto;
  font-family: Renner;
  font-size:10px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-green{
  background:black;
  color:#fff;
  box-shadow:0 3px 0 #1f1f1f;
}
.btn-green:hover{
  background:#1f1f1f;
  box-shadow:0 3px 0 #333333;
}
.btn-green:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
   font-family: "BebasNeue-Regular";
   src: local(BebasNeue-Regular), url(BebasNeue-Regular.otf);
   color: #ffffff;
}
@font-face {
   font-family: "Renner";
   src: local(Renner), url(Renner.ttf);
   color: #ffffff;
}
h1 {
    font-family: Renner;
    color: #fff;
    font-size: 20;
}
