/* Dropdown Button */
.dropbtn {
font-weight: bolder;
background-color: black;
color: white;
border: none;
cursor: pointer;
font-family: Qanelas;
padding: 10px;
font-size: 30;
margin-top:20px;
}
.acesso {
background-color: black;
border-radius: 25px;
border: 1px solid #fff;
color: white;
cursor: pointer;
font-family: Qanelas;
padding: 10px;
font-size: 20;
margin-top:20px;
text-align: right;
position: absolute;
right: 5;
top: -3;
}
.acesso2 {
background-color: black;
border-radius: 25px;
border: 1px solid #fff;
color: white;
cursor: pointer;
font-family: Qanelas;
padding: 10px;
font-size: 20;
margin-top:20px;
text-align: right;
position: absolute;
top: 50;
right: 1;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-transform: uppercase;
  font-weight: lighter;
  font-family: Qanelas;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  
@font-face {
   font-family: "BebasNeue-Regular";
   src: local(BebasNeue-Regular), url(BebasNeue-Regular.otf);
   color: #ffffff;
}
@font-face {
   font-family: "Renner";
   src: local(Renner), url(Renner.ttf);
   color: #212121;
   background:#006000;
   box-shadow:0 5px 0 #003f00;  
}  
h1 {
    font-family: Renner;
    color: #fff;
    font-size: 20;
    text-align: center;
}
h2 {
    font-family: Renner;
    color: #fff;
    font-size: 20;
    text-align: center;
    border-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    fill: #fff;
    letter-spacing: 0px;
}
.menu-vertical{
  position:fixed;
  z-index:999; 
  left:5px; 
  top:5px;
  overflow:hidden;
  padding:6px;
  width: 100%;
}  
.barra {
  background-color: #080707;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}  
.barra2 {
  background-color: #000040;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
}  
