.mainmenubtn {
font-weight: bolder;
background-color: black;
color: white;
border: none;
cursor: pointer;
font-family: Qanelas;
padding: 10px;
font-size: 30;
margin-top:20px;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {
font-weight: lighter;
text-transform: uppercase;
font-family: Qanelas;
display: none;
background-color: black;
min-width: 50px;
}
.dropdown-child a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  
@font-face {
   font-family: "BebasNeue-Regular";
   src: local(BebasNeue-Regular), url(BebasNeue-Regular.otf);
   color: #ffffff;
}
@font-face {
   font-family: "Renner";
   src: local(Renner), url(Renner.ttf);
   color: #212121;
   background:#006000;
   box-shadow:0 5px 0 #003f00;  
}  
h1 {
    font-family: Renner;
    color: #fff;
    font-size: 20;
    text-align: center;
}
h2 {
    font-family: Renner;
    color: #fff;
    font-size: 20;
    text-align: center;
    border-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    fill: #fff;
    letter-spacing: 0px;
}
.menu-vertical{
  position:fixed;
  z-index:999; 
  left:5px; 
  top:5px;
  overflow:hidden;
  padding:6px;
  width: 100%;
}  
.barra {
  background-color: #080707;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}  
.barra2 {
  background-color: #000040;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
}  
