#menu ul {
    padding:10px;
    margin:0px;
    background-color:#000000;
    list-style:none;
    color: #fffff;
    text-decoration: none;
    border-bottom:3px solid #EDEDED
}
#menu ul li { display: inline; }

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
