*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
 
.menu{
list-style:none; 
border:1px solid #c0c0c0; 
float:left; 
}
.menu li{
position:relative; 
float:left; 
border-right:1px solid #00000; 
}
.menu li a{color:#fff; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
background:#000;
color:#fff; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 5px #fff; 
}
.menu li  ul{
position:absolute; 
top:25px;
left:5;
background-color:#000; 
display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0; 
display:block; 
width:200px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#000000),
		color-stop(0.25, #000000),
		to(#000000));
	background: linear-gradient(
		top,
		#000000 0%,
		#000000 25%,
		#000000);
	border-radius: 6px;
	border: 1px solid #000000;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(38,0,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

@font-face {
    font-family: QanelasNegrito;
    src: url(QanelasNegrito.otf)
}
@font-face {
    font-family: Qanelas;
    src: url(Qanelas.otf)
     
p {
    font:36px Qanelas;
}
